<a href="https://colab.research.google.com/github/chamodi08jaya/Data-Analytics/blob/main/TF_IDF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#the sentence(documents) used to calculate the TF-IDF
doc1 = "the sky is blue"

doc2 = "the sun is bright today"

doc3 = "the sun in the sky is bright"

doc4 = "we can see the shining sun the bright sun"

In [2]:
#split the sentences in to words and assign the list to bow(bag of word) variables
bow1 = doc1.split(" ")
bow2 = doc2.split(" ")
bow3 = doc3.split(" ")
bow4 = doc4.split(" ")

In [3]:
print (bow1, bow2, bow3, bow4)

['the', 'sky', 'is', 'blue'] ['the', 'sun', 'is', 'bright', 'today'] ['the', 'sun', 'in', 'the', 'sky', 'is', 'bright'] ['we', 'can', 'see', 'the', 'shining', 'sun', 'the', 'bright', 'sun']

In [8]:
#The union() method returns a set that contains all items from the original set, and all items from the specified set(s).
#If an item is present in more than one set, the result will contain only one appearance of this item
wordSet = set(bow1).union(set(bow2),set(bow3),set(bow4))

In [9]:
#lets view the wordset created using union function with unique of above 4 sentences
wordSet

{'blue',
 'bright',
 'can',
 'in',
 'is',
 'see',
 'shining',
 'sky',
 'sun',
 'the',
 'today',
 'we'}

In [10]:
#Let's creatae 4 dictionaries to hold the terms(words) in wordSet and the count of those words appear in eaach and every sentences(documents) considered above
#Let's initialise the count of all words to 0 first
wordDict1 = dict.fromkeys(wordSet, 0)
wordDict2 = dict.fromkeys(wordSet, 0)
wordDict3 = dict.fromkeys(wordSet, 0)
wordDict4 = dict.fromkeys(wordSet, 0)

In [11]:
#Let's view wordDict1 we created using above code to get an idea about the dictionary we created
#That dictionary contain all the words we uniquely identified using union function above
wordDict1

{'blue': 0,
 'bright': 0,
 'can': 0,
 'in': 0,
 'is': 0,
 'see': 0,
 'shining': 0,
 'sky': 0,
 'sun': 0,
 'the': 0,
 'today': 0,
 'we': 0}

In [12]:
#Now we will get the count of each word appear in each sentence seperately and update the dictionaries respect to the sentence
#eg: for the sentence1 (doc1) we take the count and update wordDict1 dictionary.
for word in bow1:
  wordDict1[word]+=1

for word in bow2:
  wordDict2[word]+=1

for word in bow3:
  wordDict3[word]+=1

for word in bow4:
  wordDict4[word]+=1

In [13]:
wordDict1

{'blue': 1,
 'bright': 0,
 'can': 0,
 'in': 0,
 'is': 1,
 'see': 0,
 'shining': 0,
 'sky': 1,
 'sun': 0,
 'the': 1,
 'today': 0,
 'we': 0}

In [15]:
import pandas as pd
#Using pandas library create a dataframe(table) using the dictionaries created above to visualise the data with the frequency of each word appear in each sentences
pd.DataFrame([wordDict1,wordDict2, wordDict3, wordDict4])

   is  bright  we  see  the  shining  in  sky  can  today  blue  sun
0   1       0   0    0    1        0   0    1    0      0     1    0
1   1       1   0    0    1        0   0    0    0      1     0    1
2   1       1   0    0    2        0   1    1    0      0     0    1
3   0       1   1    1    2        1   0    0    1      0     0    2

In [16]:
def computerTF(wordDict, bow):
  tfDict = {}
  bowCount = len(bow)
  for word,count in wordDict.items():
    tfDict[word] = count/float(bowCount)
  return tfDict

In [17]:
#Compute the TF values for each sentence
tfBow1 = computerTF(wordDict1, bow1)
tfBow2 = computerTF(wordDict2, bow2)
tfBow3 = computerTF(wordDict3, bow3)
tfBow4 = computerTF(wordDict4, bow4)

In [18]:
tfBow1

{'blue': 0.25,
 'bright': 0.0,
 'can': 0.0,
 'in': 0.0,
 'is': 0.25,
 'see': 0.0,
 'shining': 0.0,
 'sky': 0.25,
 'sun': 0.0,
 'the': 0.25,
 'today': 0.0,
 'we': 0.0}

In [19]:
tfBow2

{'blue': 0.0,
 'bright': 0.2,
 'can': 0.0,
 'in': 0.0,
 'is': 0.2,
 'see': 0.0,
 'shining': 0.0,
 'sky': 0.0,
 'sun': 0.2,
 'the': 0.2,
 'today': 0.2,
 'we': 0.0}

In [26]:
def computerIDF(docList):
  import math
  idfDict = {}
  N = len(docList)
  idfDict = dict.fromkeys(docList[0].keys(), 0)
  for doc in docList:
    for word, val in doc.items():
      if val > 0:
        idfDict[word] += 1

  for word, val in idfDict.items():
    idfDict[word] = math.log10(N / float(val))

  return idfDict

In [27]:
idfs = computerIDF([wordDict1, wordDict2, wordDict3, wordDict4])

In [28]:
idfs

{'blue': 0.6020599913279624,
 'bright': 0.12493873660829992,
 'can': 0.6020599913279624,
 'in': 0.6020599913279624,
 'is': 0.12493873660829992,
 'see': 0.6020599913279624,
 'shining': 0.6020599913279624,
 'sky': 0.3010299956639812,
 'sun': 0.12493873660829992,
 'the': 0.0,
 'today': 0.6020599913279624,
 'we': 0.6020599913279624}

In [29]:
def computerTFIDF(tfBow, idfs):
  tfidf = {}
  for word, val in tfBow.items():
    tfidf[word] = val*idfs[word]
  return tfidf

In [31]:
tfidfBow1 = computerTFIDF(tfBow1, idfs)
tfidfBow2 = computerTFIDF(tfBow2, idfs)
tfidfBow3 = computerTFIDF(tfBow3, idfs)
tfidfBow4 = computerTFIDF(tfBow4, idfs)

In [32]:
pd.DataFrame([tfidfBow1, tfidfBow2, tfidfBow3, tfidfBow4])

         is    bright        we  ...     today      blue       sun
0  0.031235  0.000000  0.000000  ...  0.000000  0.150515  0.000000
1  0.024988  0.024988  0.000000  ...  0.120412  0.000000  0.024988
2  0.017848  0.017848  0.000000  ...  0.000000  0.000000  0.017848
3  0.000000  0.013882  0.066896  ...  0.000000  0.000000  0.027764

[4 rows x 12 columns]

In [33]:
#import TFidfVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [34]:
tfidf = TfidfVectorizer()

In [35]:
response = tfidf.fit_transform([doc1, doc2, doc3, doc4])

In [36]:
print(response.shape)

(4, 12)

In [37]:
feature_names = tfidf.get_feature_names()
for col in response.nonzero()[1]:
  print (feature_names[col], ' - ', response[0, col])

blue  -  0.6591911178676787
is  -  0.42075315164463567
sky  -  0.5197138488789809
the  -  0.3439932714296342
today  -  0.0
bright  -  0.0
sun  -  0.0
is  -  0.42075315164463567
the  -  0.3439932714296342
in  -  0.0
bright  -  0.0
sun  -  0.0
is  -  0.42075315164463567
sky  -  0.5197138488789809
the  -  0.3439932714296342
shining  -  0.0
see  -  0.0
can  -  0.0
we  -  0.0
bright  -  0.0
sun  -  0.0
the  -  0.3439932714296342